.rotateAnim {
    transition-duration: 0.2s;
    animation: rotate 0.4s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

.rotateAnim svg {
    stroke: #000;
}
